 body {
        font-family: 'Martel Sans', sans-serif;
        background-color: black;
    }

    #netflixLogo {
        max-width: 180px;
        max-width: 75.6px;
    }

    .navbar {
        background-color: black;
    }

    .d-flex img {
        width: 18px;
        height: 18px;
    }

    .d-flex:hover {
        opacity: 0.6;
    }

    #avatarDropdownMenuImg {
        width: 30px;
        height: 30px;
    }

    #avatarDropdownMenuCaret {
        width: 10px;
        height: 10px;
    }

    li a {
        color: white;
        font-size: 0.8rem;
        margin-top: 7px;
    }

    #emptySpaceContainer {
        width: 100%;
        height: 100px;
        background-color: red;
    }

    .footerContainer {
        background-color: black;
        color: #808080;
        font-size: 10px;
    }

    .socialmedia-logo-img {
        width: 20px;
        height: 20px;
        display: inline-block;
    }

    #logoDiv {
        margin-top: 10px;
        margin-left: 17.6%;
    }

    #serviceCodeBtn {
        color: #808080;
        background-color: transparent;
        border: 1px solid #808080;
        border-radius: 1px;
        font-size: 10px;
        padding: 7px 5px 3px 5px;
    }

    h5 {
        color: #808080;
        font-size: 15px;
        margin-left: -10px;
        padding: 0;
    }

    .tv-shows {
        display: flex;
        justify-content: end;
    }

    .greyFont {
        color: #808080;
    }

    .noMarginH3 {
        margin-top: -5%;
        margin-left: -1.35%;
        padding-top: 5%;
    }

    .noMarginH5 {
        margin-left: -6%;
    }

    .aToRight {
        text-align: right;
    }

    .pseudo-body {
        background-color: white;
    }

    .cancelButton {
        background-color: #e4e2e2;
        border-radius: 1px;
        display: block;
        font-size: 11px;
        padding: 7px 30px 6px 30px;
        font-weight: 700;
        margin-left: -6%;
    }

    .profileTitle {
        color: white;
        font-size: 4rem;
        margin-left: -3%;
    }

    .profileSubtitle {
        color: #808080;
    }

    .profileAvatarImg {
        max-width: 90px;
        max-height: 90px;
    }

    .mainLeftColumnMargin {
        margin-left: -2%;
    }

    .mainRightColumnMargin {
        margin-left: -3%;
    }

    .profileEditIcon {
        max-width: 15px;
        max-height: 15px;
        background-color: black;
        border: 1px solid white;
        padding: 2px;
        border-radius: 50%;
        position: absolute;
        margin-top: -15.5%;
        margin-left: 5%;
    }

    .profileName {
        background-color: #808080;
        color: white;
        padding: 10px 0px 5px 10px;
        margin-right: 15%;
    }

    .languageButton {
        background-color: transparent;
        color: #e4e2e2;
        border: 1px solid #e4e2e2;
        border-radius: 0px;
        padding: 7px 25px 3px 10px;
        text-align: left;
    }

    .maturityRatings {
        background-color: #424242;
        color: white;
        font-weight: 700px;
        padding-top: 5px;
        margin-right: 50%;
        text-align: center;
    }

    .profileEditButton {
        background-color: transparent;
        border: 1px solid #808080;
        border-radius: 0px;
        color: #808080;
        padding: 7px 20px 3px 20px;
        font-size: 14px;
    }

    .profileControlButton {
        margin: 25px 10px 10px 10px;
        background-color: transparent;
        border: 1px solid #808080;
        border-radius: 0px;
        color: #808080;
        padding: 7px 30px 3px 30px;
        font-size: 20px;
    }

    #profileSaveButton {
        margin-left: -2.1%;
        background-color: #e4e2e2;
        color: black;
        font-weight: 700;
    }

    .checkmarkLabel {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #808080;
    }

    .checkmarkLabel input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: transparent;
        border: 0.25px solid #808080;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    .checkmarkLabel input:checked ~ .checkmark:after {
        display: block;
    }